{% extends "Bookings/homebase.html"%}
{% load static %}   
{% block content %}
<header>
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="{% url 'Home' %}">
      <img src="{% static 'image/logo_transparent.png' %}" class="d-inline-block align-top" alt=""
        style="width:120px;">
      <span class="navtext"></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <img src="{% static 'image/navbar-icon.svg' %}" style="width: 50px;">
    </button>
    <div class=" collapse navbar-collapse" id="navbarNav">
      <div class="mr-auto">
      </div>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'Bookings' %}">Sessions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'About' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Contact' %}">Contact</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>

<div class="bg-light">

    <div class="container py-5">

      <div class="row h-100 align-items-center py-5">

        <div class="col-lg-6">

          <h1 class="display-4">About us page</h1>

          <p class="lead text-muted mb-0">This compnay is owned by Jonny Reece.</p>

          </p>

        </div>

        <div class="col-lg-6 d-none d-lg-block"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt="" class="img-fluid"></div>

      </div>

    </div>

  </div>



  <div class="container py-5">

    <div class="row align-items-center mb-5">

      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>

        <h2 class="font-weight-light">Lorem ipsum dolor sit amet</h2>

        <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      </div>

      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>

    </div>

    </div>

  </div>

</div>



  

  <div class="bg-light py-5">

    <div class="container py-5">

      <div class="row mb-4">

        <div class="col-lg-5">

          <h2 class="display-4 font-weight-light">Our team</h2>

          <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

        </div>

      </div>

  

      <div class="row text-center">



        <div class="col-xl-3 col-sm-6 mb-5">

          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://i0.wp.com/jonathanturley.org/wp-content/uploads/2016/11/hugh-mungus-rudy-pantoja.png?ssl=1" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">

            <h5 class="mb-0">Hugh Mungus</h5><span class="small text-uppercase text-muted">CEO - Founder</span>



          </div>

        </div>

  

        <div class="col-xl-3 col-sm-6 mb-5">

          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://pbs.twimg.com/media/D-QrSAgVAAAcuuK.jpg:large" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">

            <h5 class="mb-0">I LOST</h5><span class="small text-uppercase text-muted">CEO - Founder</span>

  

          </div>

        </div>

  

        <div class="col-xl-3 col-sm-6 mb-5">

          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://pbs.twimg.com/media/CvS_r8KWEAEYSzo.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">

            <h5 class="mb-0">Weird Head Man</h5><span class="small text-uppercase text-muted">CEO - Founder</span>

  

          </div>

        </div>

  

        <div class="col-xl-3 col-sm-6 mb-5">

          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://i.redd.it/kkn6fuev22m21.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">

            <h5 class="mb-0">Pretty Weird Man</h5><span class="small text-uppercase text-muted">CEO - Founder</span>



          </div>

        </div>

      </div>

    </div>

  </div>



  

  

  <footer class="bg-light pb-5">

    <div class="container text-center">

      <p class="font-italic text-muted mb-0">&copy; OOF GANG.CO</p>

    </div>

  </footer>
{% endblock %}
 