{% extends "Bookings/homebase.html"%}
{% load static %}
{% block content %}
<header>
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="{% url 'Home' %}">
      <img src="{% static 'image/logo_transparent.png' %}" class="d-inline-block align-top" alt="" style="width:120px;">
      <span class="navtext"></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <img src="{% static 'image/navbar-icon.svg' %}" style="width: 50px;">
    </button>
    <div class=" collapse navbar-collapse" id="navbarNav">
      <div class="mr-auto">
      </div>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'Bookings' %}">Sessions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'About' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Contact' %}">Contact</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>

<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">About us page</h1>
        <p class="lead text-muted mb-0">This compnay is owned by Jonny Reece.</p>
        </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img
          src="https://cdn.sanity.io/images/h3lr3860/production/8bdb7b1feb9d7fcf059639f0cb3211981f9e19c1-1096x806.svg?rect=145,0,806,806&w=400&h=400&fit=crop&auto=format"
          alt="" class="img-fluid"></div>
    </div>
  </div>
</div>

<div class="container-fluid containerpurple py-5">
  <div class="row align-items-center mb-5">
    <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
      <h2 class="font-weight-light text-light">Lorem ipsum dolor sit amet</h2>
      <p class="font-italic  mb-4 text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="{% static 'image/hawri-image.svg' %}" alt=""
        class="img-fluid  mb-4 mb-lg-0"></div>
  </div>
</div>
</div>
</div>


<div class="team">

  <div class="members">
    <div class="person">
      <img src="{% static 'image/poki.png' %}" alt="profile icon">
      <h3>Imane Anys</h3>
      <p>4 years of UI/UX</p>
    </div>
    <div class="person">
      <img src="{% static 'image/hugh.png' %}" alt="profile icon">
      <h3>Rudy Pantoja</h3>
      <p>6 years of C++ Knowledge</p>
    </div>
    <div class="person">
      <img src="{% static 'image/moe.png' %}" alt="profile icon">
      <h3>Hammoudi Abdalrhman</h3>
      <p>9 years of IT Technical Skills</p>
    </div>
    <div class="person">
      <img src="{% static 'image/xqc.png' %}" alt="profile icon">
      <h3>Felix Lengyel</h3>
      <p>7 years as Game Desginer</p>
    </div>
    <div class="person">
      <img src="{% static 'image/rebecca.png' %}" alt="profile icon">
      <h3>Rebecca Black</h3>
      <p>7 years as Software Dev</p>
    </div>
  </div>
</div>


</div>

</div>

</div>

</div>










{% endblock %}