{% extends "Bookings/homebase.html"%}
   {% block content %}
   {% load static %}
   {% block css %}
   <link rel="stylesheet" type="text/css" href="{% static 'Bookings/home.css' %}">
   {% endblock css %}
   <header>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="./">
                <img src="{% static 'image/logo_transparent.png' %}" class="d-inline-block align-top" alt=""
                    style="width:120px;">
                <span class="navtext"></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <img src="{% static 'image/navbar-icon.svg' %}" style="width: 50px;">
            </button>
            <div class=" collapse navbar-collapse" id="navbarNav">
                <div class="mr-auto">
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="./product">home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./team">about</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./news">contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contact">login</a>
                </ul>
            </div>
        </nav>
        <h1>Learn new skills and technologies with our UK based training
            events.</h1>
        <a href=" #" class="btnOutline">Learn More</a>
    </header>


    <div class="team">
        <h1>Fabrikam Technical Training has trained IT professionals that will teach you all you need to know about your
            chosen subject. </h1>
        <div class="members">
            <div class="person">
                <img src="{% static 'image/poki.png' %}" alt="profile icon">
                <h3>Imane Anys</h3>
                <p>4 years of UI/UX</p>
            </div>
            <div class="person">
                <img src="{% static 'image/hugh.png' %}" alt="profile icon">
                <h3>Rudy Pantoja</h3>
                <p>6 years of C++ Knowledge</p>
            </div>
            <div class="person">
                <img src="{% static 'image/moe.png' %}" alt="profile icon">
                <h3>Hammoudi Abdalrhman</h3>
                <p>9 years of IT Technical Skills</p>
            </div>
            <div class="person">
                <img src="{% static 'image/xqc.png' %}" alt="profile icon">
                <h3>Felix Lengyel</h3>
                <p>7 years as Game Desginer</p>
            </div>
            <div class="person">
                <img src="{% static 'image/rebecca.png' %}" alt="profile icon">
                <h3>Rebecca Black</h3>
                <p>7 years as Software Dev</p>
            </div>
        </div>
    </div>

    <div class="about">
        <h1>View some of our training sessions below</h1>
    </div>


    <div class="callToAction">
        <h1>Sign up Today</h1>
        <a href="#" class="btnFilled">Get Started</a>
    </div>

    <footer>
        <div class="footerPages">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
    </footer>
{% endblock content %}
