{% extends "Bookings/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'Bookings/main.css' %}">
{% endblock css %}
{% block content %}
<h1>Booking Home</h1>
{% for class in session %}
<h1><a href="{% url 'details' class.id %}">{{ class.title}}</a></h1>
<p>Skill Level: {{ class.skill }}</p>
<p>Company {{ class.company }}</p>
<p>Empty Spaces: {{ class.spaces }}</p>
{% endfor %}
{% if is_paginated %}

{% if page_obj.has_previous %}
<div class="row">
    <div class="pagination">
        <a class="page-link" href="?page=1">First</a>
        <a class="page-link previous text-left" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        <div class="row">
            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}

            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            {% endif %}

            {% endfor %}
            {% if page_obj.has_next %}

            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>

            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>

        </div>
    </div>
</div>

{% endif %}

{% endif %}
<!-- above handles pagination, we say if previous page show first and previous, then show pages around current page by 2 using for loop, then show next and last if page has next -->
{% endblock content %}