{% extends "Bookings/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load crispy_forms_filters %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'Bookings/teacher.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
{% endblock %}
{% block content %}
<img class = "wave bg1" src="{% static 'image/profilecorner1.svg' %}" alt="missing">
<h1 class="toph1">Welcome to your Profile</h1>
<img class = "bg2" src="{% static 'image/userimage.svg' %}" alt="missing">
<h1 class="username">{{ user.username }}</h1>
<div class="circular-portrait "><img src="{{ user.profile.image.url }}" /> </div>
<div class="optioncontainer">
    <div class="showSingle items" target="1">
      <div class="icon-wrapper">
        <i class="fa fa-pencil"></i>
      </div>
      <div class="project-name">
        <p>Update Profile</p>
      </div>
    </div>
    <div class="showSingle items" target="2">
      <div class="icon-wrapper">
        <i class="fa fa-desktop"></i>
      </div>
      <div class="project-name">
        <p>Add New Class (change icon)</p>
      </div>
    </div>
    <div class="showSingle items" target="3">
      <div class="icon-wrapper">
        <i class="fa fa-area-chart"></i>
      </div>
      <div class="project-name">
        <p>Remove Bookings(graph below)</p>
      </div>
    </div>  
</div>
<div class = "contentcontainer">
    <div class="intialDiv">
    <h1 >Click the options to view</h1>
    </div>
    <div class="targetDiv col col-sm-6" id="content1">
      <form method="POST" enctype="multipart/form-data"><!-- enctype is used for images saving-->
        {% csrf_token %}
        <fieldset class = 'form-group'>
            <legend class = "border-bottom mb-4">Profile Information</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}<!-- we passing in 2 forms so need 2-->
        </fieldset>
        <div class = "form-group">
            <button name = "profileupdateform" class = "btn btn-outline-info" type = "submit">Update</button>
        </div>
    </form>
    </div>
    <div class="targetDiv" id="content2">

      <form method="POST"><!-- enctype is used for images saving-->
        {% csrf_token %}
        <fieldset class = 'form-group'>
            <legend class = "border-bottom mb-4">Schedule Session</legend>
            {{ newsession_form|crispy }}
            {% if newsession_form.errors %}
                {% for field in newsession_form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in newsessionform.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
            {% endif %}
        </fieldset>
        <div class = "form-group">
            <button name = "createsession" class = "btn btn-outline-info" type = "submit">Create</button>
        </div>
      </form>
    </div>
    <div class="targetDiv" id="content3">
      
      <h1>proof this works</h1>
      {% for each in session %}
      <div class = "row">
          <!-- <p>{{ each }} </p>  -->
          {% for item in booking %}
              {% if item.individualsession.id == each.id %}
                  <!-- <p> {{ item }} </p> go through individualsession and then all bookings, check if ids match and list them out -->
                  <form method="post">
                      {% csrf_token %}
                      <li><button name = "pk" class = "round red" type = "submit" value="{{ item.id }}">Remove Booking<span class="round"> {{ item }}</span></button></li>                   
                      <!-- item.id is required in value to remove booking -->
                  </form>
              {% endif %}    
          {% endfor %}  
      </div>  
      {% endfor %}  
             
    </div>
</div>

<canvas id="myChart1" class = "chart2"></canvas>


<!-- we can use user.username without passing anything in views because user is built in
 %} button value gives the id of the current booking item and deletes it in the view -->
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script type = "text/javascript">

var endpoint = "../api/data" // {% url "api-data" %} // route to my json data
var maxspaces = []
var labels = []
var bookedspaces = []

//utilizing ajax to get our json values as python values dont work, instead of parsing its a direct call
// use these values to make our chart.js nice
$.ajax({
  method:"GET",
  url: endpoint,
  success: function(data){
    labels = data.tlabels
    maxspaces = data.tspaces
    bookedspaces = data.tbooked
    console.log(data)
    $(document).ready(function() {
      var ctx = document.getElementById("myChart1").getContext("2d");

      var data = {
          labels: labels,
          datasets: [
              {
                  label: "Maximum Spaces",
                  backgroundColor: "rgba(103, 35, 205, 0.54)",
                  data: maxspaces
              },
              {
                  label: "Booked Spaces",
                  backgroundColor: "rgba(35, 97, 205, 0.54)",
                  data: bookedspaces
              },
          ]
      };

      var myBarChart = new Chart(ctx, {
          type: 'bar',
          data: data,
          options: {
              title: {
                display: "true",
                text: "How many Bookings have I got",
                position: "top",
                
              },
              barValueSpacing: 0,
              scales: {
                  yAxes: [{
                      ticks: {
                          min: 0,
                      }
                  }]
              }
          }
      });
  })
  },
  error: function(error_data){
    console.log("error")
    console.log(data)
  }
})

  </script>
  <script type=text/javascript src="{% static 'Bookings/jquery.js' %}"></script>
{% endblock %}
{% endblock %}