{% extends "Bookings/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'Bookings/contact.css' %}">
{% endblock css %}
{% load crispy_forms_tags %}
{% block content %}
<img class="wave" src="{% static 'image/Mask Group 2.svg' %}">
<div class="cont">
    <div class="container">
        <div class = "form">
            <form method="POST" class="form form-horizontal pt-3" enctype="multipart/form-data">
                <h1 class="text-align-center">Contact Us</h1>
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label col-sm-2" for="{{ form.email.id_for_label }}">Name</label>
                    <div class="col">{{ form.name }}</div>
                    <div class="clear"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="{{ form.email.id_for_label }}">Email</label>
                    <div class="col">{{ form.email }}</div>
                    <div class="clear"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="{{ form.subject.id_for_label }}">Subject</label>
                    <div class="col">{{ form.subject }}</div>
                    <div class="clear"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="{{ form.message.id_for_label }}">Message</label>
                    <div class="col">{{ form.message}}</div>
                    <div class="clear"></div>
                </div> 
                <div class="form-group">
                    <label class="control-label"></label>
                    <div class="col mx-auto"><input class="btn btn-primary" type="submit" name="submit" value="Submit"></div>
                    <div class="clear"></div>
                </div> 
            </form>
        </div>
    </div>
</div>
{% endblock content %}
