{% extends "Bookings/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'Bookings/contact.css' %}">
{% endblock css %}
{% load crispy_forms_tags %}
{% block content %}
<img class="wave" src="{% static 'image/Mask Group 2.svg' %}">
<div class="container-fluid pt-5">
    <h1>Contact Us</h1>
    <h3>Got a question for us? Just ask. We'll get back to you as soon as possible. </h3>
    <div class = content-section>
        <form method="POST" class="form pt-3">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="save btn btn-default">Submit</button>
        </form>
    </div>
</div>
{% endblock content %}
