
/*----------global----------*/



* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    font-family: CircularBOLD, sans-serif;
    font-family: CircularBOOK, sans-serif;
}

body {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

/*----------contact form----------*/

.cont .container {
    padding-top: 3rem;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 5 2rem;
  }

form {
    margin-left: 30rem;
    opacity: 1;
    width: 750px;
    position: relative;
}

form label {
    margin-left: 0.5rem;
    font-family: CircularBOLD, sans-serif;
    font-size: 20px;
    color: #622CCF
}

input {
    font-family: CircularBOLD, sans-serif;
    width: 100%;
    font-size: 50px;
    background: #ffffff;
    opacity: 100%;
}

form h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 62px;
    position: relative;
    z-index: 0;
    padding-bottom: 20px;
    color: #622CCF;
    text-transform: uppercase;
    font-size: 2.9rem;
}

.form .btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px !important;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #622CCF, #4A026D, #622CCF);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff !important;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
  }

@media (min-width: 768px) and (max-width: 991px) {

    .service_area .single_service {
        padding: 30px 20px;
    }
}

.service_area .single_service h3 {
    font-size: 24px;
    font-weight: 600;
    color: #2C2C2C;
    margin-top: 24px;
    padding-bottom: 12px;
}

@media (min-width: 768px) and (max-width: 991px) {

    .service_area .single_service h3 {
        font-size: 22px;
    }
}

.service_area .single_service p {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0;
}

.service_area .single_service:hover {
    border: 1px solid #615CFD;
}

.section_title h3 {
    font-size: 50px;
    line-height: 62px;
    font-weight: 700;
    color: #622CCF;
    position: relative;
    z-index: 0;
    padding-bottom: 15px;
}

/*----------call to action----------*/

.callToAction {
    text-align: center;
    padding: 20em 5% 20em 5%;
}

.callToAction h1,
.callToAction a {
    display: inline-block;
    margin: 0 60px;
    vertical-align: middle;
}

.callToAction .btnFilled {
    margin-bottom: 5px;
}

/*----------responsive----------*/

@media only screen and (max-width: 1000px) {
    header {
        height: 1600px;
        min-height: 1600px;
        background-image: url(/public/image/mobile-bg-1.svg);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: contain;
    }

    form {
        margin-left: 0rem;
    }

    header h1 {
        width: 100%;
    }

    .container {
        margin: 3em 0 3em 0;
    }

    .container h2 {
        width: 100%;
    }

    .callToAction {
        margin-top: 10em;
        padding: 15em 5% 15em 5%;
        background-size: 70%;
    }

    .callToAction h1,
    .callToAction a {
        margin-bottom: 30px;
    }

    footer {
        text-align: center;
    }

    .footerPages {
        visibility: hidden;
    }

    footer p,
    .footerPages {
        display: block;
    }

    nav a {
        color: black;
    }

}

@media only screen and (max-width: 600px) {
    header {
        height: 1300px;
        min-height: 1300px;
    }

    header h1 {
        margin: 2em 0 0 0;
    }

    .about h1 {
        padding-top: 800px;
    }

    .members {
        flex-direction: column;
    }


    .person {
        margin-top: 30px;
    }

    nav a {
        color: black;
    }
}