/* c++, python, JS, logo colour #8B1AEE */


/*----------global----------*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    font-family: CircularBOLD, sans-serif;
    font-family: CircularBOOK, sans-serif;
}

body {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

h1 {
    font-size: 50px;
    line-height: 62px;
    font-weight: 650;
    color: #622CCF;
    position: relative;
    z-index: 0;
    padding-bottom: 15px;

}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

.btnOutline {
    display: block;
    text-decoration: none;
    color: #622CCF;
    border: 2px solid #622CCF;
    border-radius: 50px;
    width: 175px;
    height: 40px;
    line-height: 37px;
    text-align: center;
    margin-top: 30px;
}

.btnFilled {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #622CCF;
    border-radius: 50px;
    width: 175px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 30px;

}

/*----------nav----------*/

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

nav a img {
    padding: 10px;
}

header .nav-link:hover {
    color: grey;
}

header .nav-item {
    padding: 10px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: white(0, 0, 0, 0.9);
    z-index: 9999;
    transition: all 0.4s ease 0s;
}

/*----------header----------*/

header {
    height: 1000px;
    min-height: 1000px;
    padding: 0 5%;
    background-image: url(../image/Mask\ Group\ 16.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    margin-bottom: 300px;

}

header h1 {
    width: 40%;
    margin: 4em 0 1em 0;
}

/*----------featured training sessions----------*/

.service_area {
    padding-bottom: 120px;
}

@media (max-width: 767px) {

    .service_area {
        padding-bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .service_area {
        padding-bottom: 50px;
    }
}

.service_area .single_service {
    padding: 48px 35px 45px 35px;
    border: 1px solid #E8E8E8;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-bottom: 30px;
}

@media (min-width: 768px) and (max-width: 991px) {

    .service_area .single_service {
        padding: 30px 20px;
    }
}

.service_area .single_service h3 {
    font-size: 24px;
    font-weight: 600;
    color: #2C2C2C;
    margin-top: 24px;
    padding-bottom: 12px;
}

@media (min-width: 768px) and (max-width: 991px) {

    .service_area .single_service h3 {
        font-size: 22px;
    }
}

.service_area .single_service p {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0;
}

.service_area .single_service:hover {
    border: 1px solid #615CFD;
}

.section_title h3 {
    font-size: 50px;
    line-height: 62px;
    font-weight: 700;
    color: #622CCF;
    position: relative;
    z-index: 0;
    padding-bottom: 15px;
}

/*----------team----------*/

.team {
    text-align: center;
    margin: 1em 0 20em 0;
    padding: 0 5%;
    background-image: url(/public/image/Rectangle\ 555.png);
    background-repeat: no-repeat;
    background-position: center;
}


.team h1 {
    width: 50%;
    margin: 0 auto 50px auto;
}

.members {
    display: flex;
    justify-content: center;
}

.person {
    margin: 0 30px;
    color: #622CCF;

}

.person h3 {
    margin-top: 20px;
}

/*----------about----------*/

.about {
    padding: 0 5%;
    background-image: url(../image/bg-2.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 60%;
    height: 1400x;
    min-height: 1400px;
}

.about h1 {
    margin-bottom: 30px;
    padding-top: 450px;
    text-align: right;
}


/*----------reviews----------*/


h2 {
    color: #622CCF;
    text-align: center;
    font-size: 48px;
    position: relative;
    margin: 30px 0 70px;
    font-weight: 400;
}

h2::after {
    content: "";
    width: 150px;
    position: absolute;
    margin: -25px auto;
    height: 4px;
    border-radius: 1px;
    background: #4A026D;
    left: 0;
    right: 0;
    bottom: -25px;
}

.carousel {
    margin: 100px auto;
    padding: 0 40px;
    margin-bottom: 200px;

}

.carousel .item {
    color: #999;
    overflow: hidden;
    min-height: 120px;
    font-size: 20px;
}

.carousel .media img {
    width: 120px;
    height: 120px;
    display: block;
    border-radius: 50%;
}

.carousel .overview b {
    text-transform: uppercase;
    color: #622CCF;
}


.carousel .carousel-indicators {
    bottom: -60px;

}

.carousel-indicators li,
.carousel-indicators li.active {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 1px 10px;
}

.carousel-indicators li {
    background: #e2e2e2;
    border: 4px solid #fff;
}

.carousel-indicators li.active {
    color: #fff;
    background: #622CCF;
    border: 5px double;
}

.col-sm-12 h1 {
    width: 100%;
    margin: 0 auto 50px auto;
    text-align: center;
}

/*----------call to action----------*/

.callToAction {
    text-align: center;
    padding: 20em 5% 20em 5%;
}

.callToAction h1,
.callToAction a {
    display: inline-block;
    margin: 0 60px;
    vertical-align: middle;
}

.callToAction .btnFilled {
    margin-bottom: 5px;
}

/*----------footer----------*/

footer {
    color: #622CCF;
}

.footer p,
.footerPages {
    display: inline-block;
}

.footerPages {
    float: right;
}

.footerPages a {
    text-decoration: none;
    font-weight: 300;
    color: #4A026D;
    margin-left: 30px;
    font-weight: 600;
}

/*----------responsive----------*/

@media only screen and (max-width: 1000px) {
    header {
        height: 1600px;
        min-height: 1600px;
        background-image: url(/public/image/mobile-bg-1.svg);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: contain;
    }

    header h1 {
        width: 100%;
    }

    .container {
        margin: 3em 0 3em 0;
    }

    .container h2 {
        width: 100%;
    }

    .about {
        padding: 0 5%;
        background-image: url(/public/image/mobile-bg-2.svg);
        background-size: contain;
        background-size: 80%;
        height: 900x;
        min-height: 900px;
        overflow-y: visible;
    }

    .about h1 {
        padding-top: 1000px;
    }

    .callToAction {
        margin-top: 10em;
        padding: 15em 5% 15em 5%;
        background-size: 70%;
    }

    .callToAction h1,
    .callToAction a {
        margin-bottom: 30px;
    }


    nav a {
        color: black;
    }

}

@media only screen and (max-width: 600px) {
    header {
        height: 1300px;
        min-height: 1300px;
    }

    header h1 {
        margin: 2em 0 0 0;
    }

    .about h1 {
        padding-top: 800px;
    }

    .members {
        flex-direction: column;
    }


    .person {
        margin-top: 30px;
    }

    nav a {
        color: black;
    }
}