* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  font-family: CircularBOLD, sans-serif;
  font-family: CircularBOOK, sans-serif;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 100px;
}


/*----------about page----------*/
u {
  color: blueviolet;
}


body {

  background-color: rgb(176, 141, 212);

}

header {
  padding: 0 5%;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 600;
}

nav a img {
  padding: 10px;
}

header .nav-link:hover {
  color: grey;
}

header .nav-item {
  padding: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  transition: all 0.4s ease 0s;
}


body {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

/*----------login bg----------*/

.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}



a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: .3s;
}


a:hover {
  color: #622CCF;
}

.btn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #622CCF, #4A026D, #622CCF);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: .5s;
}

.btn:hover {
  background-position: right;
  color: white;
}

.login-content img {
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.form1 form {
  width: 360px;
  position: relative;
  top: 200px;
  left: 100px;
}

.img img {
  width: 600px;
  position: relative;
  top: 200px;

}

.cont .container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}

.login-content h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  color: #622CCF;
  text-transform: uppercase;
  font-size: 2.9rem;
}

.login-content .title2 h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 56%;
  color: #622CCF;
  text-transform: uppercase;
  font-size: 2.9rem;
}


.form2 form {
  width: 360px;
  position: relative;
  top: 50px;
  left: 100px;
}